/*
Theme Name: project_theme
Theme URL: https://{Website URL}
Description: WordPress Docker based System
Author: Mr. Webint
Version: 1.0.1
Tags: テーマの特徴を表すタグ（カンマ区切り/オプション）
License: The Client All Rights Reserved 
License URI: none
*/